@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');


.content{
    width: 100%;
    height: 72rem;
    overflow-y: hidden;
    font-family: 'Josefin Sans', sans-serif;
}

.content textarea{
    resize: none;
    padding: 1rem;
    border-right: none;
}

.textinput {
    display: block;
    box-sizing: border-box;
    font: Lato, Helvetica, sans-serif;
    width: 123rem;
    height: 100rem;
    overflow: auto;
    padding: 0.6em 0.8em;
    color: #463939;
    background: #f7f7f7;
    border: 1px solid #e1e1e1;
    line-height: normal;
}

@media screen and (max-width: 992px) {
    .textinput{
        width: 31rem;

    }
}